<section class="login" role="main" aria-label="Formulario de inicio de sesión">
  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title>Ingresar</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" aria-required="true" required />
          <mat-error *ngIf="form.get('email')?.invalid">Email inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            aria-required="true"
            required
          />
          <mat-hint>Mínimo 6 caracteres</mat-hint>
          <mat-error *ngIf="form.get('password')?.invalid">Longitud mínima 6 caracteres</mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          aria-label="Iniciar sesión"
        >
          Iniciar sesión
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</section>